@import '@/styles/common/variables';
$calculated-width: map-get(
    $map: $carousel,
    $key: width,
  ) * 10 + 1rem * 9;

$calculated-width2: map-get(
    $map: $carousel,
    $key: width,
  ) * 15 + 1rem * 14;

.container {
  width: 100%;
  margin: auto;
  border-radius: 16px;
  border: 1px solid map-get($map: $colors, $key: main-color);
  display: flex;
  padding: 1rem 0;
  background-color: map-get($map: $colors, $key: background-color);

  &-arrow {
    display: inline-block;
    position: relative;
    top: 6.2rem;
    margin: 0 1.2rem;
    cursor: pointer;
  }

  &-carousel {
    border-radius: 16px;
    display: flex;
    margin: auto;
    width: calc($calculated-width);
    height: map-get($map: $carousel, $key: content-height);
    overflow: hidden;

    &__cells {
      display: flex;
      gap: 1rem;
      width: calc($calculated-width2);
      height: map-get($map: $carousel, $key: content-height);
      transition: ease-in-out 0.3s;
      &__cell {
        width: map-get($map: $carousel, $key: width);
        height: map-get($map: $carousel, $key: content-height);

        &__img {
          border-radius: 8px;
          width: map-get($map: $carousel, $key: width);
          height: map-get($map: $carousel, $key: height);
        }

        &__content span {
          margin-top: 0.2rem;
          width: map-get($map: $carousel, $key: width);
          display: flex;
        }
      }
    }
  }
}

.arrow-left {
  display: inline-block;
}
